<!DOCTYPE html>

{% extends "base.html" %}

{% block body %}
<h3>Prime numbers from 2 to {{pigeon.get_n()}}</h3>

{% for i in pigeon.get_primes() %}
{{i}},
{% endfor %}
<h2 style="..."> Worked on read.me organization</h2>
<h4 style="text-align: center; font-family: times; color:red; font-size 10px"> Reflection/WOW: In my first mini lab, I learned how to develop front end html changes and code to about us page.</h4>
<iframe height="400px" width="100%" src="https://replit.com/@lolabulkin/lolaminilab?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}