<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
from flask import Blueprint, render_template

from codingexercises.pigeon import Pigeon

codingexercises_pigeon_bp = Blueprint('codingexercises_pigeon', __name__,
template_folder='templates',
static_folder='static', static_url_path='assets')


@codingexercises_pigeon_bp.route('/')
def index():
return render_template("pigeon.html", pigeon=Pigeon(200))
class Pigeon:
def __init__(self, n):
self._n = n
self.primes = [2]
a = 2

while a < n:
counter = 0

for i in self.primes:
if a % i == 0:
counter += 1

if counter == 0:
self.primes.append(a)
else:
counter = 0

a = a + 1

def get_n(self):
return self._n

def get_primes(self):
return self.primes
{% extends "base.html" %}

{% block body %}
<h3>Prime numbers from 2 to {{pigeon.get_n()}}</h3>

{% for i in pigeon.get_primes() %}
{{i}},
{% endfor %}

{% endblock %}
<a class="nav-link" href="/future" style = "color:rgb(255,194,68);font-size:18px;">Future-games<span class="sr-only">(current)</span></a>
<a class="nav-link" href="/signup" style = "color:rgb(255,194,68);font-size:18px;">Sign-up<span class="sr-only">(current)</span></a>
<a class="nav-link" href="/login" style = "color:rgb(255,194,68);font-size:18px;">Login<span class="sr-only">(current)</span></a>
<a class="nav-link" href="/blackjack" style = "color:rgb(255,194,68);font-size:18px;"><span class="sr-only">(current)</span></a>
<a class="nav-link" href="/war" style = "color:rgb(255,194,68);font-size:18px;"><span class="sr-only">(current)</span></a>
</body>
</html>